* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #6885e0;
    font-family: 'Space Grotesk', sans-serif;
    color: #1212b2;
    line-height: 1.2;
    /* Safari iOS button highlight disabled */
    -webkit-tap-highlight-color: transparent;
}

body {
    /* ... */
}

h1 {
    margin-bottom: 8px;
    font-size: 35px;
    font-weight: 700;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

p {
    margin-bottom: 16px;
}

header {
    background-color: #E9F45B;
    padding: 32px;
    text-align: center;
}

main {
    text-align: center;
}

.container {
    max-width: 540px;
    margin: 0 auto;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 40px 4px;    
}

.character {
    width: 112px;
    height: 112px;
    overflow: hidden;
    background-color: #a1d2ff;
    font-size: 5rem;
    border: 2px solid #1212b2;
    border-radius: 50%;
    cursor: pointer;
    /* user-select: none;  */
    /* -webkit-user-select: none; */
    animation: pop-effect 0.4s ease-out;
}

.character:active {
    transform: scale(0.75);
    animation: none;
}

.character img {
    max-width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: rgb(161 210 255 / 80%);
}

.loading img {
    max-width: 100px;
    animation: pop-effect 0.3s ease-out;
    
}

.modal {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    padding: 24px;
    background-color: rgba(161, 210, 255, 0.8);
    overflow-y: auto;
}

.modal-box {
    position: relative;
    width: 100%;
    max-width: 512px;
    margin: 24px auto;
    background-color: #ffffff; 
    border: 2px solid #1212b2;
    animation: pop-effect 0.3s ease-out;
}

.modal-content {
    padding: 16px;
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 36px;
    width: 36px;
    background-color: #ffaafb;
    border: 2px solid #1212b2;
    border-radius: 50%;
}

.modal-content > code {
    display: block;
    font-size: 10px;
    color: #6885e0;
}

.hidden {
    display: none;
}

@keyframes pop-effect {
    0% {
        transform: scale(0.75);
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }    
}